<table id="{{rowsTableId}}" width="100%" border="0" cellpadding="0" cellspacing="0" class='reportDataChildtablelistView row-report wReportTable'>  
    {{#if headerFields}}
        <tbody>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="reportDataChildtablelistView">
                        <tbody class="rowsContainer">
                            <tr class='group-line headerContainer' style="height:30px">          
        
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    {{/if}}
</table>
